@import "./variables.less";
@import "./mixins.less";

.locations h1,
.contact-us h1 {
    font-family: professor, sans-serif;
    color: @mauve;
    text-align: center;
    background-color: white;
}

/*********CONTACT PAGE*************/
.contact-us {
    background-color:white;
    text-align: center;
    font-family: raleway, sans-serif;
    text-align: center;
    background-image: url("images/pastel-sky.jpg");
    background-size: cover;
  }

  .contact-pop {
      display:inline-block;
      background-color: @light-green;
      width: 300px;
      border: 10px solid @light-pink;
      padding: 25px;
      margin: 20px;
      border-radius: 12px;
  }

  button {
    border-radius: 12px;
    background-color: @peach;
  }

/************CONTACT PAGE**********/

h2 {
    font-family: raleway, sans-serif;
}

p {
    font-family: roboto, sans-serif;
}