@import "./variables.less";
@import "./mixins.less";

h1 {
    font-family: professor, sans-serif;
    color: @mauve;
    font-size: @font-h1;
}

h2 {
    font-family: raleway, sans-serif;
}

p {
    font-family: roboto, sans-serif;
}

.card {
    margin: 5%;
    border: none;
}

.card-title {
    font-family: professor, sans-serif;
    font-size: @font-h2;
}


.backgroundcolor1 {
    background-color: @peach;
    height: 500px;
    position: relative;
    margin-top: 300px;
}

.card-group {
    position: absolute;
    z-index: 999;
}


.backgroundcolor2 {
    background-color: @light-green;
    height: 500px;
    position: relative;
    margin-top: 300px;
}
