@import "./variables.less";
@import "./mixins.less";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: raleway, sans-serif;
}

.desktop-nav {
	display: none;
}

#menuToggle {
    display: block;
}

/********* HEADER START **********/
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: @copy;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: @mauve;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: @peach;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: @copy;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #f8deca;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
/********* HEADER END *********/

/*********HOME PAGE*************/
.index-top {
    background: @white;
    color: @charcoal;
    padding: 10% 8%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.index-top img {
    width: 100%;
    max-width: 323px;
}

.index-top h1 {
    padding: 15% 0;
}

img.index-button {
    width: 50%;
    max-width: 99px;

}

.index-top a {
    text-align: center;
}

.desktopindex-top {
    display: none;
}

.index-bottom {
    background: @light-pink;
    color: @charcoal;
    padding: 8%;
    display: flex;
    flex-flow: column;
}

.index-bottom h2 {
    text-align: center;
    padding: 10% 0% 4%;
    font-size: 24px;
}

.index-reviews {
    text-align: center;
}

.index-reviews img {
    width: 50%;
}

.index-reviews figcaption {
    padding-top: 4%;
}

.index-span1, .index-span2, .index-span3 {
    font-family: professor, sans-serif;
}

.index-span1 {
    color: @mauve;
    font-size:40px; ;
}

.index-span2 {
    font-size: 26px;
}

.index-span3 {
    font-size: @font-h2;
}

.review-text {
    font-family: professor, sans-serif;
    font-size: 20px;
}

.locations h1,
.contact-us h1,
.text-center {
    font-family: professor, sans-serif;
    color: @mauve;
    font-size: @font-h1;
    text-align: center;
    background-color: white
}

/********* HOME PAGE END *********/

/********* FOOTER START *********/
footer {
    text-align: center;
    background-color: #faede9
}

footer li {
    list-style-type: none;
    display: inline;
}

footer a {
    color: @mauve;
    padding: 10px;
}

footer a:hover {
    color: #75544f;
    transition: .3s ease;
}

.icon {
    padding: 40px 0;
    margin: 10px;
}

/********* FOOTER END *********/

/********LOCATIONS PAGE START*******/
.locations h2,
.locations h3,
.hours {
    text-align: center;
    font-family: raleway, sans-serif;
}

.locations h2 {
    text-align: center;
}

.hours {
    margin: 2% 35%;
    padding: 2%;
    background-color: @mauve;
}

.slideshow,
.slide-button {
    display: flex;
    justify-content: center;
    padding: 1%
}

.stores {
    display: flex;
    justify-content: flex-start;
}

.LA, 
.Miami,
.Orlando {
    padding: 1%;
    text-align: center;
    margin: 5%;
}

.LA {
    background-color: @light-green;
}

.Miami {
    background-color: @light-pink;
}

.Orlando {
    background-color: @light-blue;
}

/*********LOCATIONS PAGE END***********/

/*********CONTACT PAGE START*************/
.contact-us {
    background-color:white;
    text-align: center;
    font-family: raleway, sans-serif;
    text-align: center;
  }

  .contact-pop {
      display:inline-block;
      background-color: @light-green;
      width: 300px;
      border: 10px solid @light-pink;
      padding: 25px;
      margin: 20px;
      border-radius: 12px;
  }

  button {
    border-radius: 12px;
    background-color: @peach;
  }
/************CONTACT PAGE END**********/

/************MENU PAGE START**********/
h2 {
    font-family: raleway, sans-serif;
}

p {
    font-family: roboto, sans-serif;
}

.card {
    margin: 0% 5% 0% 5%;
    border: none;
    background-color: @mauve;
}

.card-title {
    font-family: professor, sans-serif;
    font-size: @font-h2;
    background-color: white;
    margin: 0;
    padding: 2%;
}

.card-text {
    background-color: @mauve;
    margin: 0;
    padding: 5%;
    color: white;
    font-size: @font-p;
    font-family: roboto;
}

.card-body {
    padding: 1%;
    margin: 3%;

}


.card-group {
    padding: 2%;
}

.menubackground {
    background-color: @light-pink;
    height: 100px;
}

.menubackground2 {
    background-color: @light-green;
    height: 100px;
    margin-bottom: 2%;
}

.alert {
    font-family: raleway;
    font-size: @font-p;
    text-align: center;
}
/************MENU PAGE END**********/


/************ABOUT PAGE START**********/

.about {
    font-size: @font-h1;
    color: @light-blue;
}

.about-p {
    font-family: 'roboto';
    font-size: @font-p;
    margin: 2%;
}

.aboutpage {
    margin: 3% 15% 5% 15%;
}

.poptext {
    font-family: professor;
    color: @mauve;
}

.bobabackground {
    max-width: 1000px;
}


#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px @light-pink;
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px @light-pink;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px @light-pink;
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}

/************ABOUT PAGE END**********/

/*********MEDIA QUERIES*************/
/*********LOCATIONS PAGE MIN-WIDTH 320PX MEDIA QUERY*************/
@media (min-width: 320px) {
    .hours {
        margin: 10%;
        padding: 1%;
    }
}
/*********LOCATIONS PAGE MIN-WIDTH 320PX MEDIA QUERY*************/
/*********LOCATIONS PAGE MIN-WIDTH 500PX MEDIA QUERY*************/
@media (min-width: 500px) {
    .hours {
        margin: 3% 30%;
    }
}
/*********LOCATIONS PAGE MIN-WIDTH 500PX MEDIA QUERY*************/

/*********HOME PAGE MIN-WIDTH 500PX MEDIA QUERY*************/
@media(min-width:500px) {

    .index-body {
        margin: 0 auto;
    }

    .index-top {
        display: none;
    }

    .desktopindex-top {
        display: flex;
        margin: auto;
    }

    .desktopindex-top img {
        width: 50%;
    }

    .index1-desktop{
        background: @light-green;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: left;
        padding-top: 12%;
        margin: 0 auto;
        h1{
        text-align: left;
        margin: auto;
        }
        p{
        font-size: 1.3rem;
        margin: auto;
        }
        a{
        text-align: center;
        padding-bottom: 15%;
        margin: auto;
        
        }
    }

    .index-span1{
        font-size: 36px;


    }


    .index-bottom {
        padding: 0%;
    }
}
/*********ABOUT PAGE MIN-WIDTH 576PX MEDIA QUERY*************/
@media (min-width: 576px) {
.col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
    }
}
/*********ABOUT PAGE END MIN-WIDTH 576PX MEDIA QUERY*************/


/*********HOME PAGE MIN-WIDTH 830PX MEDIA QUERY*************/
@media(min-width:830px) {

    .index-body{
        margin: 0 auto;
    }

    .index1-desktop p{
        padding-top: 16%;
    }

    .index-span1{
        font-size: 44px;
    }
}
/************MENU PAGE END**********/




/************ MEDIA QUERY **********/

@media (min-width: 800px) {

    #menuToggle {
		display: none;
	}

    .desktop-nav {
		display: block;
        text-align:center;
        font-family: raleway, sans-serif;
        padding: 30px 0;

        img {
            width: 12%;
            padding: 0 0 0 10px;
        }

        li {
            list-style-type: none;
            display: inline;
            padding: 0 25px;
        }

        a {
            color: @copy;
            text-decoration: none;
        }

        :hover {
            color: @mauve;
            transition: .3s, ease;
        }
        .logo:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            transition: 1s ease;
        }
	}

}

/*********ABOUT PAGE MIN-WIDTH 1025PX MEDIA QUERY*************/

@media (min-width: 1025px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
        }
    }

/*********ABOUT PAGE END MIN-WIDTH 1025PX MEDIA QUERY*************/

